<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zqy.rxjavademo">

    <application
        android:name=".app.RxJavaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RxBindingActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".RxJavaActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".RxBusActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxbinding.ButtonActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxbinding.SeekBarActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxbinding.EditTextActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxbinding.LoginActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxbinding.VerifyCodeActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxbinding.ListActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.RxJava0Activity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.OperatorActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.OperatorCreateActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.OperatorFilterActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.OperatorMergeActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.OperatorMapActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.create.CreateActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.create.JustActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.create.FromActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.create.TimerActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.create.IntervalActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.create.RangeActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.create.DeferActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.merge.MergeActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.merge.CombineLatestActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.merge.ZipActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.merge.StartWithActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.merge.ConcatActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.FilterActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.OfTypeActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.TakeActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.TakeLastActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.FirstActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.LastActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.SkipActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.SkipLastActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.ElementAtActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.DistinctActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.filter.DistinctUntilChangedActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.map.MapActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.map.FlatMapActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.map.FlatMapIterableActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.map.SwitchMapActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.map.ScanActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.map.GroupByActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.map.BufferActivity"
            android:theme="@style/BaseTheme">
        </activity>
        <activity
            android:name=".rxjava.operator.map.WindowActivity"
            android:theme="@style/BaseTheme">
        </activity>
    </application>

</manifest>